.DS_Store
node_modules
.tmp
npm-debug.log
.vs/MoviesApp/config/applicationhost.config
.vs/MoviesApp/DesignTimeBuild/.dtbcache.v2
.vs/MoviesApp/v17/.suo
MoviesApp/bin/Debug/net6.0/appsettings.Development.json
MoviesApp/bin/Debug/net6.0/appsettings.json
MoviesApp/bin/Debug/net6.0/MoviesApp.deps.json
MoviesApp/bin/Debug/net6.0/MoviesApp.dll
MoviesApp/bin/Debug/net6.0/MoviesApp.exe
MoviesApp/bin/Debug/net6.0/MoviesApp.pdb
MoviesApp/bin/Debug/net6.0/MoviesApp.runtimeconfig.json
MoviesApp/bin/Debug/net6.0/MoviesApp.staticwebassets.runtime.json
MoviesApp/obj/Debug/net6.0/apphost.exe
MoviesApp/obj/Debug/net6.0/MoviesApp.csproj.BuildWithSkipAnalyzers
MoviesApp/obj/Debug/net6.0/MoviesApp.csproj.CoreCompileInputs.cache
MoviesApp/obj/Debug/net6.0/MoviesApp.csproj.FileListAbsolute.txt
MoviesApp/obj/Debug/net6.0/MoviesApp.dll
MoviesApp/obj/Debug/net6.0/MoviesApp.pdb
MoviesApp/obj/Debug/net6.0/project.razor.json
MoviesApp/obj/Debug/net6.0/ref/MoviesApp.dll
MoviesApp/obj/Debug/net6.0/refint/MoviesApp.dll
MoviesApp/obj/Debug/net6.0/scopedcss/bundle/MoviesApp.styles.css
MoviesApp/obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
MoviesApp/obj/Debug/net6.0/scopedcss/projectbundle/MoviesApp.bundle.scp.css
MoviesApp/obj/Debug/net6.0/staticwebassets.build.json
MoviesApp/obj/Debug/net6.0/staticwebassets.development.json
MoviesApp/obj/staticwebassets.pack.sentinel
MoviesApp/obj/Debug/net6.0/project.razor.json
